/* VideoList.module.css */
.videoContainer {
  display: flex;
  flex-wrap: wrap;
}

.videoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 30px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  max-width: 250px;
  color: white;
}

.videoItem.highlighted {
  background-color: rgb(62, 59, 99);
}

.videoContainer h3 {
  width: 100%;
  margin-bottom: 10px;
  color: white  ;
}

.actionButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #0056b3;
}

.progressBarWrapper {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.markButton {
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s;
}

.markButton:hover {
  transform: scale(1.1);
}
